@import '../reset.module';
@import '../variables.module';
@import '../fonts.module';

.container {
  background: var(--bg-color-1);
  width: 100%;
  min-height: 100dvh;
  color: var(--font-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-1), sans-serif;
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  overflow: hidden;
}

.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.line {
  height: 100px;
  width: 100%;
  background: var(--accent-color-1);
}

.line_2 {
  margin-top: 200px;
  height: 100px;
  width: 100%;
  background: var(--accent-color-2);
}

