@import '../variables.module';
@import '../reset.module';
@import '../fonts.module';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.loadingWords {
  color: var(--font-color-1);
}
.wordContainer { // delete
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  margin: 10px 0;
}
.wordMainInfo {
  display: flex;
  gap: 10px;
}




