@import '../variables.module';
@import '../reset.module';
@import '../fonts.module';
@import './Input.module';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 0 20px;
}
.expressionEnter {
  @extend .fontPattern;
  width: 100%;
  padding: 10px;
}
.complexityContainer {
  display: flex;
  gap: 10px;
}

