@import '../variables.module';
@import '../reset.module';
@import '../fonts.module';

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputsContainer {
  display: flex;
  gap: 20px;
}
.input {
  @extend .fontPattern;
  width: 100%;
  padding: 20px;
}
.comment {
  @extend .fontPattern;
  outline: none;
  border: none;
  padding: 20px;
  resize: none;
}
