@import '../variables.module';
@import '../reset.module';
@import '../fonts.module';

.wordMainInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wordInfoContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}
.wordAccordionContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 2px;
  background: var(--bg-color-2);
  font-size: 18px;
  animation: smoothAppear .5s ease-out;
  border: var(--border-color);
  padding: 10px;
}
.word {
  cursor: pointer;
}
.textareaCommentEdit {
  position: absolute;
  @extend .fontPattern;
  width: 100%;
  resize: none;
  border: none;
  padding: 10px;
}
.buttonCommentEdit {
  position: absolute;
}
.updateButton {
  padding: 8px;
  @extend .fontPattern;
  font-size: 16px;
  background: transparent;
  border: var(--border-color);
  color: var(--font-color-1);
  transition: transform .1s;
}
.updateButton:hover {
  background: var(--bg-color-2);
}
.updateButton:active {
  transform: scale(0.97);
}
.pos {
  position: absolute;
  left: -115px;
  background-color: var(--color-1);
  color: var(--font-color-1);
  font-size: 14px;
  padding: 5px;
  width: 100px;
  border-radius: 2px;
}
.complexity {
  position: absolute;
  left: -180px;
  width: 50px;
  background-color: var(--color-1);
  color: var(--font-color-1);
  font-size: 14px;
  padding: 5px;
  border-radius: 2px;
}
@keyframes smoothAppear {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}