@import '../variables.module';
@import '../reset.module';
@import '../fonts.module';
@import "Word.module";

.wordUpdatedInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.updatedWordInput {
  background: var(--background);
  color: var(--color-5);
  border: var(--border-color);
  padding: 10px;
  font-family: var(--font-family-1), sans-serif;
  font-size: 20px;
}
