:root {
  --bg-color-1: #26282B;
  --bg-color-2: #353941;
  --accent-color-1: #1E90FF;
  --accent-color-2: #B22222;
  --font-color-1: #fff;
  --font-family-1: 'Montserrat';
  --font-size-1: 20px;
  --font-weight-1: 400;
  --color-1: #1f75af;
  --color-2: #fd4343;
  --color-3: #e0e0e0;
  --color-3: #a5543a;
}